.container-img{
  width: 100%;
  height: 100vh;
  position: relative;
  
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.Main-text p{
  font-size: 1.6rem; 
  color: #222;
  padding: 0.5rem 0 2rem 0;
  
}

.show{
  text-decoration: none;
  background-color: black;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
}

.show:hover{
  transition: 0.2s ease-out;
  font-size: 18px;
}
.btnclass{
  text-decoration: none;

}